body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#top-spacer {
    width: 100vw;
    position: relative;
    top:16px;
}

nav {
    background-color: transparent;
    position: relative;
    display: flex;
    width: 100vw;
    height: 55 px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    flex-direction: row;
    
}

nav li:hover {
    text-decoration: underline;
}

#left-navigation {
    list-style: none;
    display: inline-flex;
    padding-left: 15px;
    margin-right: 10px;
    margin-top: 7px;
}

.nav-item {
    padding-left: 15px;
}

#right-navigation {
    list-style: none;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    padding-right: 15px;
}

#right-navigation li {
    color: #000;
}

#right-navigation li:hover {
    color: rgba(0, 0, 0, 0.75);
}

#apps-gliph {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    background-position: -132px -38px;
    opacity: .55;
    margin-left: 5px;
}

#apps-gliph:hover {
    opacity: .85;
}

#sign-in {
    background-color: #4387fd;
    border: 1px solid #4285f4;
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    border-radius: 2px;
    padding: 0 12px;
}

#sign-in:hover {
    box-shadow: 0px 1px 2px hsl(217, 76%, 78%);
}