body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* Top Navigation */

#top-spacer {
    width: 100vw;
    position: relative;
    top:16px;
}

nav {
    background-color: transparent;
    position: relative;
    display: flex;
    width: 100vw;
    height: 55 px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    flex-direction: row;
    
}

nav li:hover {
    text-decoration: underline;
    cursor: pointer;
}

#left-navigation {
    list-style: none;
    display: inline-flex;
    padding-left: 15px;
    margin-right: 10px;
    margin-top: 7px;
}

.nav-item {
    padding-left: 15px;
}

#right-navigation {
    list-style: none;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    padding-right: 15px;
}

#right-navigation li {
    color: #000;
}

#right-navigation li:hover {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

#apps-gliph {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    background-position: -132px -38px;
    opacity: .55;
    margin-left: 5px;
}

#apps-gliph:hover {
    opacity: .85;
}

#sign-in {
    background-color: #4387fd;
    border: 1px solid #4285f4;
    color: #fff;
    font-weight: bold;
    line-height: 28px;
    border-radius: 2px;
    padding: 0 12px;
}

#sign-in:hover {
    box-shadow: 0px 1px 2px hsl(217, 76%, 78%);
}


/* Logo */
.logo {
    height: 233px;
    margin-top: 89px;
}

.homepage-logo {
    height: 180px;
    width: 450px;
    display: inline-block;
    position: relative;
    justify-content: center;
}

.logo-img {
  padding-top: 109px;
}

/* Search area */

.container {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: 518px;
}

.search-container {
    background-color: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

.search-container-inner {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.sinput {
    display: flex;
}

.search-input-text {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: 3px;
    font-size: 16px;
}

.search-container-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -2px;
}

.search-container-img-inner {
    margin: auto;
}

.sconfig {
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
}

.search-gliph {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}


.search-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 11px;
    padding-top: 18px;

}

.search-button-item {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding:0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-button-item:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#seach-bar {
  border: 0px solid transparent;
}

/* Footer */

.tag-line {
    display: flex;
    justify-content: center;
    font-size: small;
    margin-top: 12px;
    color: #1a0dab;
}

.tag-line:hover {
    text-decoration: underline;
}